body {
    background-color: #2d3436;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;    
    letter-spacing: 1px;
}

h1 {
    font-weight: normal;
    font-size: 30px;
    position: relative;
    margin: 40px 0;
}

h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #e74c3c;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.photo-gallery {
    text-align: center;
}

.photo-gallery img {
    width: 100%;
    height: auto;
}

.photo-gallery p {
    margin-bottom: 30px;
}

.photo-gallery figcaption {
    margin-top: 8px;
}

.copyrightSection {
    background-color: #111;
    color: #fff;
    padding: 25px 5px;
}

.copyrightSection p {
    margin: 0;
    font-size: 12px;
}

.carousel-item {
    height: 32rem;
    background: #777;
    position: relative;
}

.container-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}